<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRegistrationDataService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://34.193.163.157/registration-app-data-access/RegistrationDataService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRegistrationDataService"
                contract="RegistrationDataService.IRegistrationDataService"
                name="BasicHttpBinding_IRegistrationDataService" />
        </client>
    </system.serviceModel>
</configuration>